DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://127.0.0.1:5500
# frontend must be served from 127.0.0.1 (not localhost) for cookie-based auth to work
WALLET_ENCRYPTION_KEY=
AMOY_RPC_URL=
RELAYER_PRIVATE_KEY=
RM_PER_POL_RATE=2.50
